@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--cl-red: hsl(0, 100%, 74%);
	--cl-green: hsl(154, 59%, 51%);

	--cl-blue: hsl(248, 32%, 49%);

	--cl-dark-blue: hsl(249, 10%, 26%);
	--cl-grayish-blue: hsl(246, 25%, 77%);

	--cl-white: #fff;
	--cl-grey: #dadada;

	/* For btn */
	--cl-box-shadow: #2fb179;

	/* Btn hover */
	--cl-btn-hover: hsl(154, 65%, 63%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(./images/bg-intro-desktop.png), var(--cl-red);
	background-size: cover;
	background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Container */
.container {
	max-width: 108rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 8rem;
	align-items: center;
	margin-bottom: 5rem;
}

/* Container right */
.container-right {
	color: var(--cl-white);
	width: 50rem;
}

.heading-primary {
	font-size: 5rem;
	line-height: 1;
	margin-bottom: 3rem;
}

/* Container left */
.container-left {
	text-align: center;
}

.plan {
	background-color: var(--cl-blue);
	color: var(--cl-white);
	padding: 1.5rem 2rem;
	border-radius: 0.8rem;
	box-shadow: 0 0.6rem rgba(0, 0, 0, 0.2);
	margin-bottom: 1.8rem;
}

.plan span {
	font-weight: 600;
}

.form {
	background-color: var(--cl-white);
	padding: 3rem;
	border-radius: 0.8rem;
	box-shadow: 0 0.6rem rgba(0, 0, 0, 0.2);
}

.form input {
	font-size: inherit;
	font-weight: 600;
	font-family: inherit;
	width: 100%;
	padding: 1.5rem 2.5rem;
	border: 2px solid var(--cl-grey);
	border-radius: 0.5rem;
	outline: none;
	transition: all 0.2s;
}

.form input:focus {
	border-color: var(--cl-grayish-blue);
}

.form > * {
	margin-bottom: 2rem;
	position: relative;
}

/* For error */

.form > * input.error {
	border-color: var(--cl-red);
}

.form > * span.error-icon {
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translate(-50%, -100%);
	opacity: 0;
}

.form > * span.error-message {
	position: relative;
	display: inline-block;
	font-size: 1.3rem;
	width: 100%;
	text-align: right;
	color: var(--cl-red);
	font-style: italic;
	opacity: 0;
}

/* Button */
button {
	cursor: pointer;
	width: 100%;
	font-size: inherit;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--cl-white);
	background-color: var(--cl-green);
	border: none;
	border-radius: 0.5rem;
	padding: 2rem 2rem 1.5rem 2rem;
	box-shadow: 0 0.5rem 0 0 var(--cl-box-shadow);
	letter-spacing: 1px;
	transition: all 0.2s;
}

button:hover {
	background-color: var(--cl-btn-hover);
}

.terms {
	font-size: 1.2rem;
}

.terms a {
	color: var(--cl-red);
	font-weight: 600;
	text-decoration: none;
}

/* Attribution */
.attribution {
	font-size: 11px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
}

.attribution a {
	color: var(--cl-white);
}

/* Media query: < 1000px */
@media only screen and (max-width: 62.5em) {
	.container {
		max-width: 100%;
		grid-template-columns: 1fr;
		text-align: center;
	}

	.container-right {
		margin-bottom: 3rem;
	}
}

/* Media query: < 500px */
@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: 25em) {
	html {
		font-size: 37.5%;
	}

	body {
		background: url(./images/bg-intro-mobile.png), var(--cl-red);
	}
}
